@import "tailwindcss";
@import "tw-animate-css";

@source "../components/**/*.{js,ts,jsx,tsx,mdx}";
@source "../app/**/*.{js,ts,jsx,tsx,mdx}";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #3274d9;
  --primary-foreground: #ededed;
  --url: #1a0dab;
  --background: #ededed;
  --foreground: #081b33;
  --card: #ededed;
  --card-foreground: #081b33;
  --popover: #ededed;
  --popover-foreground: #081b33;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #e02f44;
  --border: #081b33;
  --input: #081b33;
  --ring: #3274d9;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
}

.dark {
  --primary: #8ab8ff;
  --primary-foreground: #081b33;
  --url: #8ab4f8;
  --background: #081b33;
  --foreground: #ededed;
  --card: #152642;
  --card-foreground: #ededed;
  --popover: #081b33;
  --popover-foreground: #ededed;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: #ff7383;
  --border: #ededed;
  --input: #ededed;
  --ring: #8ab8ff;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@theme inline {
  --color-primary: var(--primary);
  --color-url: var(--url);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  /* Custom Red */
  --color-custom-red-100: #ffa6b0;
  --color-custom-red-300: #ff7383;
  --color-custom-red-500: #f2495c;
  --color-custom-red-700: #e02f44;
  --color-custom-red-900: #c4162a;

  /* Custom Orange */
  --color-custom-orange-100: #ffcb7d;
  --color-custom-orange-300: #ffb357;
  --color-custom-orange-500: #ff9830;
  --color-custom-orange-700: #ff780a;
  --color-custom-orange-900: #fa6400;

  /* Custom Yellow */
  --color-custom-yellow-100: #fff899;
  --color-custom-yellow-300: #ffee52;
  --color-custom-yellow-500: #fade2a;
  --color-custom-yellow-700: #f2cc0c;
  --color-custom-yellow-900: #e0b400;

  /* Custom Green */
  --color-custom-green-100: #c8f2c2;
  --color-custom-green-300: #96d98d;
  --color-custom-green-500: #73bf69;
  --color-custom-green-700: #56a64b;
  --color-custom-green-900: #37872d;

  /* Custom Blue */
  --color-custom-blue-100: #c0d8ff;
  --color-custom-blue-300: #8ab8ff;
  --color-custom-blue-500: #5794f2;
  --color-custom-blue-700: #3274d9;
  --color-custom-blue-900: #1f60c4;

  /* Custom Purple */
  --color-custom-purple-100: #deb6f2;
  --color-custom-purple-300: #ca95e5;
  --color-custom-purple-500: #b877d9;
  --color-custom-purple-700: #a352cc;
  --color-custom-purple-900: #8f3bb8;

  /* Custom Brown */
  --color-custom-brown-100: #ebbb8f;
  --color-custom-brown-300: #db9c60;
  --color-custom-brown-500: #bd7839;
  --color-custom-brown-700: #9e5a1b;
  --color-custom-brown-900: #7a4615;

  /* Custom Gray */
  --color-custom-gray-100: #ededed;
  --color-custom-gray-300: #cfd1d6;
  --color-custom-gray-500: #b2b5c0;
  --color-custom-gray-700: #9499a9;
  --color-custom-gray-900: #767d92;

  /* Fonts */
  --font-roboto: var(--font-roboto);
  --font-raleway: var(--font-raleway);
}

/* shadcn */
@theme inline {
  /* Colors */
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
  }
}
